body{
    background: rgb(0, 110, 255);
}

h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.color {
    color: rgb(255, 123, 0);
}

.font-size {
    font-size: 50px;
}

.font-weight {
    font-weight: bold;
}

.font-family {
    font-style: italic;
}

.text-align {
    text-align: right;
}